{% load static %}
<header class="header d-flex mb-4">
    <img
        alt="Logo do Pratico"
        src="{% static 'imgs/icone_pratico.png' %}"
        class="mt-4"
        width="100"
    />
    <div class="d-flex flex-fill flex-column align-self-center">
        <div class="align-self-center">
            <b class="fs-1">Pratico</b>
        </div>
    </div>
    <div class="d-flex align-items-center me-5">
        <a href="{% url 'index' %}" class="btn btn-dark"
            ><p class="fs-5 m-0">Início</p></a
        >
        <div
            class="ms-4"
            style="
                display: inline-grid;
                grid-template-columns: max-content 1fr;
                gap: 1em;
                border: 1px solid black;
                border-radius: 5px;
                padding: 4px;
                padding-right: 18px;
            "
        >
            <div>
                <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="user"
                    class="svg-inline--fa fa-user"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    width="36"
                    height="36"
                    viewBox="0 0 448 512"
                >
                    <path
                        fill="currentColor"
                        d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"
                    ></path>
                </svg>
            </div>
            <div class="col d-flex align-items-center">
                <b>{{user.username}}</b>
            </div>
        </div>
    </div>
</header>
<hr />
